services:
  mysql:
    image: mysql:8.0.2
    container_name: mysql-container
    restart: always
    env_file: ./.env
    environment:
      MYSQLDB_DATABASE: ${MYSQLDB_DATABASE}
      MYSQL_ROOT_PASSWORD: ${MYSQLDB_ROOT_PASSWORD}
    ports:
      - "${MYSQLDB_DOCKER_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-init-db.d

  springboot:
    build: SD_Practica02
    container_name: springboot-app
    restart: always
    env_file: ./.env
    ports:
      - "${SPRING_LOCAL_PORT}:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/${MYSQLDB_DATABASE}
      SPRING_DATASOURCE_USERNAME: ${MYSQLDB_USER}
      SPRING_DATASOURCE_PASSWORD: ${MYSQLDB_PASSWORD}
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL: "true"
      SPRING_JPA_SHOW_SQL: "true"
    depends_on:
      - mysql
volumes:
  mysql_data: