<!DOCTYPE html>
<html lang="ES" xmlns:th="http:/www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1,0" name="viewport">
    <title>Práctica de Sistemas Distribuidos</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<link href="/static/styles.css" rel="stylesheet">
<header>
    <img alt="logo UBU" height="89" src="/static/escudo.png" th:class="escudo" width="296">
</header>
<h1>
    Lista de usuarios.</h1>
<h2>
    <table border="1">
        <thead>
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>apellidos</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="usuario : ${userList}">
            <td th:text="${usuario.id}"></td>
            <td th:text="${usuario.nombre}"></td>
            <td th:text="${usuario.apellidos}"></td>
        </tr>
        </tbody>

    </table>
</h2>
<section>
    <a href="home.html">Volver a la página inicial</a>
    <link href="/static/styles.css" rel="stylesheet">
</section>
<footer>
    Contacto : Fernando Arroyo Redondo
    <p>email: far0006@alu.ubu.es</p>
    <link href="/static/styles.css" rel="stylesheet">
</footer>
</body>
</html>
