.escudo {
    width: 50%;
}
body {
    font-family: "Segoe UI", Tahoma,Verdana,Arial,sans-serif;
    background-color: azure;
    margin: 0;
    padding:0;
}
header {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
    font-size: small;

}

nav {
    text-align: center;
    margin-top: 20px;
}

nav ul {
    list-style: square;
    padding: 0;
    margin: 0;
    display: inline-flex;
}
nav ul li {
    padding: 0 20px;
}

nav ul li a{
    text-decoration: none;
    color: coral;
    font-size: small;
    padding: 10px 25px;
}
