<!DOCTYPE html>
<html lang="ES" xmlns:th="http:/www.thymeleaf.org">

</html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1,0" name="viewport">
    <title>Práctica de Sistemas Distribuidos</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<link href="/static/styles.css" rel="stylesheet">
<header>
    <img alt="logo UBU" height="89" src="/static/escudo.png" th:class="escudo" width="296">
</header>
<h1>
    Gestión de la práctica 2 de Sistemas Distribuidos.
    <p><sub>Curso 2024/2025 </sub></p>
</h1>


<section>
    <h2>
        Le damos la bienvenida al sitio web de la práctica
    </h2>
    <p> Para continuar pulse en el enlace siguiente</p>
    <nav>
        <ul>
            <li><a href="index.html">Ir a la página de opciones de este sitio</a></li>

        </ul>
    </nav>
</section>
<footer>
    Contacto : Fernando Arroyo Redondo
    <p>email: far0006@alu.ubu.es</p>
    <link href="/static/styles.css" rel="stylesheet">
</footer>
</body>
</html>