<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" lang="ES">

</html>
<head>
    <meta charset="UTF-8">
    <title>Práctica de Sistemas Distribuidos</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<header>
    <img th:class="escudo" src="/escudo.png" alt="imagen escudo">
</header>
<h1>
    Gestión de la práctica 2 de Sistemas Distribuidos.
</h1>
<p> Curso 2024/2025 </p>
<section>
    <nav>
        <ul>
            <li><a href="login.html">Iniciar sesión</a> </li>

        </ul>
    </nav>
</section>
<footer>
    Contacto : Fernando Arroyo Redondo
    <p>email: far0006@alu.ubu.es</p>
</footer>
</body>
</html>