<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" lang="es">

</html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,0">
    <title>Práctica de Sistemas Distribuidos</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header>
    <img th:class="escudo" src="/static/escudo.png" alt="logo UBU" width="296" height="89">
  </header>
    <h1>
      Gestión de la práctica 2 de Sistemas Distribuidos.
    </h1>
    <p> Curso 2024/2025 </p>
  <section>
    <nav>
      <ul>
        <li><a href="login.html">Login</a> </li>
        <li><a href="#">Usuarios</a> </li>
        <li><a href="https://www.playroms.net/gbc-roms/pokemon-yellow">Pokemon</a> </li>
        <li><a href="#">Api</a> </li>
		<li><a href="home.html">Volver a la página inicial</a> </li>
		
      </ul>
    </nav>
  </section>
 
  <footer>
    Contacto : Fernando Arroyo Redondo
    <p>email: far0006@alu.ubu.es</p>
	<link rel="stylesheet" href="/static/styles.css">
  </footer>
</body>
</html>