<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

</html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1,0" name="viewport">
    <title>Práctica de Sistemas Distribuidos</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <img alt="logo UBU" height="89" src="/static/escudo.png" th:class="escudo" width="296">
</header>
<h1>
    Gestión de la práctica 2 de Sistemas Distribuidos.
</h1>
<p> Curso 2024/2025 </p>
<section>
    <nav>
        <ul>
            <li><a href="login.html">Login</a></li>
            <li><a href="registro.html">Registrar usuarios</a></li>
            <li><a href="usuarios.html">Lista de Usuarios</a></li>
            <li><a href="https://www.playroms.net/gbc-roms/pokemon-yellow">Pokemon</a></li>
            <li><a href="#">Api</a></li>
            <li><a href="home.html">Volver a la página inicial</a></li>

        </ul>
    </nav>
</section>

<footer>
    Contacto : Fernando Arroyo Redondo
    <p>email: far0006@alu.ubu.es</p>
    <link href="/static/styles.css" rel="stylesheet">
</footer>
</body>
</html>