<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

</html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1,0" name="viewport">
    <title>Práctica de Sistemas Distribuidos</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<header>
    <img alt="logo UBU" height="89" src="/static/escudo.png" th:class="escudo" width="296">
</header>
<h1>
    Gestión de la práctica 2 de Sistemas Distribuidos.
</h1>
<p> Curso 2024/2025 </p>
<section id ="main_container">
    <article id ="login">
        <h2>LOGIN</h2>
        <p>Ir a la pagina de login</p>
        <p></p>
        <a href="login.html">
            <button id ="login-btn">Pulsar</button>
        </a>
    </article>

    <article id ="registro">
        <h2>REGISTRO</h2>
        <p>Ir a registro de usuarios</p>
        <p></p>
        <a href="registro.html">
            <button id ="registro-btn">Pulsar</button>
        </a>
    </article>

    <article id ="usuarios">
        <h2>USUARIOS</h2>
        <p>Obtener lista usuarios</p>
        <p></p>
        <a href="usuarios.html">Lista de Usuarios
            <button id ="usuarios-btn">Pulsar</button>
        </a>
    </article>

    <article id ="pokemon">
        <h2>POKEMON</h2>
        <p>Jugar a Pokemon</p>
        <p></p>
        <a target="_blank" href="https://www.playroms.net/gbc-roms/pokemon-yellow">
            <button id ="pokemon-btn">Pulsar</button>
        </a>
    </article>

    <article id ="python">
        <h2>PYTHON</h2>
        <p>Ir a la pagina API de Python</p>
        <p></p>
        <a href="C:/users/ferna/Documents/Github/SD_Practica02/pyhton-flask-app/templates/base.html">
            <button id ="python-btn">Pulsar</button>
        </a>
    </article>

    <article id ="casa">
        <h2>VOLVER</h2>
        <p>Volver al inicio</p>
        <p></p>
        <a href="home.html">
            <button id ="casa-btn">Pulsar</button>
        </a>
    </article>
</section>
</body>
<footer>
    Contacto : Fernando Arroyo Redondo
    <p>email: far0006@alu.ubu.es</p>
    <link href="/static/styles.css" rel="stylesheet">
</footer>

