<!DOCTYPE html>
<html lang="ES" xmlns:th="http:/www.thymeleaf.org">

</html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1,0" name="viewport">
    <title>App python con Flask</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<link href="/static/styles.css" rel="stylesheet">
<header>
    <img alt="logo UBU" height="89" src="/static/escudo.png" th:class="escudo" width="296">
</header>
<h1>
    Gestión de la práctica 2 de Sistemas Distribuidos.
    <p><sub>Curso 2024/2025 </sub></p>
</h1>

<section>
    <h2>
        Le damos la bienvenida a la applicación Python con Flask
    </h2>
    <p> Para continuar pulse en el enlace siguiente</p>
    <nav>
        <ul>
            <li><a href="noencontrado.html">Intenta leer un fichero inexistente.</a></li>
            <li><a href="encontrado.html">Intenta leer un fichero existente.</a></li>
        </ul>
    </nav>
</section>
</body>
