<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org" lang="ES">

</html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,0">
    <title>App python con Flask</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<link rel="stylesheet" href="/static/styles.css">
<header>
    <img th:class="escudo" src="/static/escudo.png" alt="logo UBU" width="296" height="89">
</header>
<h1>
    Gestión de la práctica 2 de Sistemas Distribuidos.
    <p> <sub>Curso 2024/2025 </sub></p>
</h1>

<section>
	<h2>
		Le damos la bienvenida a la applicación Python con Flask
	</h2>
		<p> Para continuar pulse en el enlace siguiente</p>
    <nav>
        <ul>
            <li><a href="./python-flask-app/ficheros_test/fichero_a.txt">Intenta leer un fichero inexistente.</a></li>
			<li><a href="./python-flask-app/ficheros_test/fichero.txt">Intenta leer un fichero existente.</a></li>
		</ul>
	</nav>
