<!DOCTYPE html>
<html lang="ES" xmlns:th="http:/www.thymeleaf.org">

</html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1,0" name="viewport">
    <title>Fichero encontrado</title>
    <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
<link href="/static/styles.css" rel="stylesheet">
<header>
    <img alt="logo UBU" height="89" src="/static/escudo.png" th:class="escudo" width="296">
</header>
<h1>
    Gestión de la práctica 2 de Sistemas Distribuidos.
    <p><sub>Curso 2024/2025 </sub></p>
</h1>

<section>
    <h2>
        200: Fichero encontrado. Operación terminada correctamente
    </h2>

    <h3>
        <nav>
            <ul>
                <li><a href="base.html">Volver a la pagina principal.</a></li>

            </ul>
        </nav>
    </h3>
</section>
</body>
